@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: 'Roboto Mono', monospace, sans-serif; */
  /* cursor: none; */
}
html {
  font-size: 62.5%;
  background-color: theme('colors.black1');
  color: thema('colors.white1');
}
header,
main,
footer {
  min-width: 960px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  -webkit-appearance: none;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label.labelup {
  top: -15px;
  font-size: 12px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* background styles */
#root > div.background:nth-of-type(odd) {
  background-color: theme('colors.black1');
  color: theme('colors.black2');
}
#root > div.background:nth-of-type(even) {
  background-color: theme('colors.black2');
  color: theme('colors.black1');
}
.shadow {
  filter: drop-shadow(0px 0px 4px #000000);
}

figure,
img {
  width: 100%;
  height: 100%;
}

#app {
  /* overflow: hidden; */
  padding-right: 4px;
}
